.offer-body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f7f7f7; */
    background-color: #091a32;
    margin: 0;
    padding: 0;
  }
  
  .offers-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .offer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .offer:hover {
    transform: translateY(-10px);
  }
  
  .offer h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .offer p {
    font-size: 1em;
    color: #777;
  }
  