/* src/SidePanel.css */
.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .side-panel.open {
    width: 300px;
    margin-top: 90px;
  
    /* border-right: 2px solid white; */
    /* border-radius: 10px; */
    border-left: 0;
    
    background-color: #091a32;
  }
  
  .side-panel .close-btn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 20px;
    background: none;

  }
  
  .side-panel .content {
    color: white;
    /* background-color: blue; */
    padding: 20px;
  }
  .tbody{
    background-color: wheat;
  }
  .button{
    background: none;
  }
  .sli-content{
    color: white;
  }
  .sli-btn{
    margin-left: 70px;
  }