/* BankingSignUp.css */

.banking-sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

   background: linear-gradient(rgb(223, 206, 173),rgb(229, 98, 10));
  
  background-repeat: no-repeat;
  background-size:1600px 900px;
  gap: 100px;
  
}

.banking-sign-up-form {
  width: 400px;
  padding: 40px;
  /* background-color: #fff; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
  border-radius: 10px;
  margin-left: 110px;
  background: linear-gradient(rgb(223, 206, 173),rgb(229, 98, 10));
  width: 600;

}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.error-message {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #ff0000;
}

button {
  background-color: #11682ded;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
.rb{
  text-align: center;
}
.bankname{
  height: 600px;
  width: 600px;
  text-align: center;
  color: linear;
  margin-top: 300px;
  
}

.banklogo{
  font-size: 60px;
  background: linear-gradient(to right,rgb(220, 191, 141),rgb(17, 0, 255),rgb(255, 0, 0),rgb(255, 0, 76));
  -webkit-background-clip: text;
  color: transparent;
}
